<div class="container user_information_container">
	<div class="user_information_title">ユーザ情報</div>

	<div class="user_information_box">
		<div class="user_information_item">
			<span>氏名</span>
			<%= @customer.last_name %> <%= @customer.first_name %>
		</div>
		<div class="user_information_item">
			<span>カナ</span>
			<%= @customer.last_name_kana %> <%= @customer.first_name_kana %>
		</div>
		<div class="user_information_item">
			<span>表示名</span>
			<%= @customer.handle_name %>
		</div>
		<div class="user_information_item">
			<span>メールアドレス</span>
			<%= @customer.email %>
		</div>
		<div class="user_information_item">
			<span>投稿数</span>aaa
		</div>
	</div>

	<div class="user_information_button">
		<%= link_to '編集する', edit_customer_path %>
	</div>
</div>
